
.searchFilter {
  width: 250px;
  min-height: 100vh;
  padding: 20px;
  background-color: #f4f4f4;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}

/* 
THIS IS FOR HEADER */

/* Header container */
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 10px;
    color: white;
}

.title {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between icon and title */
}

/* Cart icon styling */
.cart-icon {
    font-weight: 600;
    font-size: 3rem; /* Adjust icon size */
    color: #fff; /* White color for the icon */
    margin-right: 10px; /* Adds space between the icon and the title */
}

/* Title styling with letter spacing */
.title h4 {
    font-family: 'Rock Salt', cursive;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 5px; /* Adds space between letters, adjust this value */
}



.filter-item {
  margin-top: 20px;
}
.category-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}



/* Main.css */

/* Page layout */
.main {
  display: flex;
  gap: 20px;
}


/* Right side (product list) */
.container {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

/* Product card container */
.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Loading and Error Screen */
.loadingScreen,
.errorScreen {
  text-align: center;
  font-size: 2rem;
  padding: 20px;
}
